/* Navigation bar */

.nav {
	background-color: #444444;
	color: white;
	/*padding-top:10px;*/
	padding-left:10px;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;\;
	width: 100%;
}


.nav_ul {
	margin-top: 10px;
	margin-bottom: 10px;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    vertical-align: center;
}

#lab_link {
	color:black;
	font-size: 15px;
}

#degree {
	font-size: 15px;
	font-weight: 400;
}


.nav_li {
    float: left;
    vertical-align: center;
}

.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
}

.nav_li a:hover {
    background-color: #666666;
}

p {
	font-family: "Montserrat", sans-serif;
}


/* Header Image and Text */

.header {
	background-color: #1e1e1e;
	color: white;
	padding: 10px;
	margin: 15px ;
	font-family: "Montserrat";
	font-weight:400;

}

.profile_pic {
	width: 100%;
	display: inline-block;
	font-family: "Montserrat";
}

#profile_pic {
	padding: 10px;
	display: inline-block;
}

.bio {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}


/* Photos Section */

.photo:hover {
	opacity: 0.85;
}

.col-xs-3 {
	padding:14px;
}

/* Social Media Link Formatting */

.sm-link {
	background-color:#666666;
}

.sm-text:hover {
	background-color:#666666;
	color: black;

}

.sm-no-hover:hover {
	background-color: #cecece;
}

.sm-text {
	color: black;
	display: block;
	padding: 10px 10px 10px 30px;
	font-size: 15px;
	font-family: "Montserrat";
	margin: 15px;
	background-color: #cecece;
	border-radius: 3px;
}

.half-sm-text {
	color: black;
	width: 45%;
	display: inline-block;
	padding: 10px 10px 10px 30px;
	font-size: 15px;
	font-family: "Montserrat";
	font-weight:300;
	margin: 15px;
	background-color: #cecece;
	border-radius: 3px;

}
